<%= link_to user_path(user) do %>   
  <div  class="all-user__person">
    <div  class="all-user__person__up">
      <% if user.image.present? %>
        <%= image_tag "#{user.image}",class:"all-user__person__up__image" %>
      <% else %>
        <div  class="all-user__person__up__image">
          <p>NoImage</p>
        </div>
      <% end %>   
    </div>
    <div  class="all-user__person__bottom">

        <p><%= icon('fas', 'user-astronaut')%><%= user.name %>さん</p> 
      <p><%= icon('fas', 'pencil-alt') %><%= user.posts.count %>件</p> 
    </div>
  </div>
<% end %>