<%= link_to user_path(user) do %>   
  <div  class="all-user__person">
    <div  class="all-user__person__up">
      <% if user.image.present? %>
        <%= image_tag "#{user.image}",class:"all-user__person__up__image" %>
      <% else %>
        <div  class="all-user__person__up__image">
          <p>NoImage</p>
        </div>
      <% end %>   
    </div>
    <div  class="all-user__person__bottom">

        <p><%= fa_icon("user-secret") %><%= user.name %>さん</p> 

      <p><%= fa_icon("paint-brush") %><%= user.posts.count %>件</p> 
    </div>
  </div>
<% end %>