<div class="main-contents">
  <div  class="subject">
    <p>
      <%= icon('fas', 'user-astronaut') %>
      <%= @user.name %>さんのページ
    </p>
  </div>

  <div class="user user-page">
    <div class="user__avater">
      <% if @user.image.present? %>
          <%= image_tag "#{@user.image}",class:"user__avater__image" %>
      <% else %>
          <p>NoImage</p>
      <% end %>
    </div>
    
    <div class="user__name">
      <%= icon('fas', 'user-astronaut')%>
      <%= "ユーザー名：#{@user.name}"%>
    </div> 
    <div class="user__info">
      <%= icon('fas', 'pencil-alt')%>
      <%= "投稿件数：#{@user.posts.count}件"%> 
    </div> 
  </div> 



<div class="user-show">
  <div  class="subject">
    <p>
      <%= icon('fas', 'caret-square-down') %>
      投稿一覧 <%= icon('fas', 'pencil-alt') %>
    </p>
  </div>
  <div class="posts">
    <%= form_with  url:user_path(@user) ,method: :get,local: true do |form| %>
      <div class="show-search-select">
        <%= form.label :search_status, 'ステータス' %>
        <%= form.select :search_status, ["all","open","closed"],selected:"#{@status}" %>
      </div>
      <div class="show-search-select">
        <%= form.label :category_name, 'カテゴリー' %>
        <%= form.select :category_name, @category_names.map{|t| [t]} ,selected:"#{@category}"%>
      </div>
      <%= form.submit "フィルタリング" ,class:"show-search-submit" %>
    <% end %>
    <% if @posts.present? %>
      <% @posts.each do |post| %>  
        <%= render partial: "/posts/post",locals:{ post: post} %>
      <% end %>
    <% else %>
      <div class="message">
        <p>まだ投稿がありません</p>
      </div> 
    <% end %>
  </div>
</div>
<div class="page-show" > 
<%= paginate @posts ,param_name:"show_user" %>
</div>

<div class="user-show">
  <div  class="subject">
    <p>
      <%= icon('fas', 'caret-square-down') %>
      お気に入り一覧<%= icon('fas', 'star') %>
    </p>
  </div>
  <div class="posts">
    <%= form_with  url:user_path(@user) ,method: :get,local: true do |form| %>
      <div class="show-search-select">
        <%= form.label :favo_search_status, 'ステータス' %>
        <%= form.select :favo_search_status, ["all","open","closed"],selected:"#{@favo_status}" %>
      </div>
      <div class="show-search-select">
        <%= form.label :favo_category_name, 'カテゴリー' %>
        <%= form.select :favo_category_name, @category_names.map{|t| [t]} ,selected:"#{@favo_category}"%>
      </div>
      <%= form.submit "フィルタリング" ,class:"show-search-submit" %>

    <% end %>
    <% if @favorite_posts.present? %>
      <% @favorite_posts.each do |post| %>  
        <%= render partial: "/posts/post",locals:{ post: post} %>
      <% end %>
      
    <% else %>
      <div class="message">
        <p>まだお気に入りがありません</p>
      </div> 
    <% end %>
  </div>
</div>
<div class="page-show" > 
<%= paginate @favorite_posts ,param_name:"show_favo" %>
</div>
</div>