<%= form_with model: post ,class:"form_box",id:"form_box-form" do |form| %>

  <%= form.text_field :title ,placeholder:"*タイトル",class:"form_box__title" %>
  <% if request.path_info == "/posts/new" %>  
    <%= form.text_area :body,placeholder:"内容",class:"form_box__body",value:@template %>
  <% else %>  
    <%= form.text_area :body,placeholder:"内容",class:"form_box__body"%>
  <% end %> 

  <div class="post__bottom__images" id="post-images-view"> 
    <% if post.images.present? %>
        <% index = 0 %>
        <% post.images.each do |image| %>
          <div class="post__bottom__images__view" >
            <%= image_tag "#{image}",class:"post__bottom__images__image" ,id:"image-#{index}",height:"300px"%> 
            <input multiple="multiple" type="hidden" name="box[]" value="<%= index %>" />  
            <div class="bottun-close-org">✖︎</div>
          </div>
          <% index += 1 %>
        <% end %>
    <% end %>
  </div>

  <div class="form_box__input" id="image_input">
    <%= icon('fas', "image") %>
    <%= form.file_field :images, multiple: true ,name: "post[images][]"%>
    <span>*最大5件</span>
  </div>
  <% if post.video_url.present? %>
    <div class="post__bottom__video__view" >
      <div class="bottun-close-video">✖︎</div>
      <%= video_tag post.video_url.to_s,loop: true, controls: true, width: 300, id: "mv"%>   
      <input type="hidden" name="current_video" value="1" /> 
    </div>
  <% end %>

  <div class="form_box__input">
    <%= icon('fas', "video") %>
    <%= form.file_field :video %>
    <span>*最大1件</span>
  </div>

  <%= form.select :category_id, categories.map{|t| [t.name, t.id]} ,prompt:"*カテゴリを選択してください"%>
  <%= form.select :status_id, @statuses.map{|t| [t.name, t.id]}, :prompt => "*ステータスを選択してください"%>
  <%= form.submit class:"form_box__submit" %>
<% end %>