<% posts.each do |post| %>
  <div class="post">
    <div class="post__left">
      <div class="post__left__avater">  
        <% if post.user.image != nil %>
          <%= image_tag "#{post.user.image}",class:"post__left__avater__image" %>
        <% else %>
          <p>未登録</p>
        <% end %>   
      </div>
      <div class="post__left__name">     
        <p><%= post.user.name %></p>
      </div>
    </div>
    <div class="post__right">
      <div class="post__right__title">     
        <p><%= post.title %></p>
      </div>
      <div class="post__right__content">     
        <p><%= safe_join(post.body.split("\n"), tag(:br)) %></p>

      </div>
      <div class="post__right__info">     
        <p><%= post.created_at.strftime("%Y/%m/%d %H:%M") %></p>
      </div>
    </div>
  </div>
<% end %>