<div class="main-contents">
  <div  class="subject">
    <p>
    <%= icon('fas', 'bars')%>
    <%= @current_category.name %>
    </p>
  </div> 
  <div class="posts">
    <%= form_with  url: category_posts_path(@current_category), method: :get,local: true do |form| %>
      <div class="show-search-select">
        <%= form.label :search_status, 'ステータス' %>
        <%= form.select :search_status, ["all","open","closed"],selected:"#{@status}"%>
        <%= form.submit "フィルタリング"  %>
      </div>
    <% end %>
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <div class="message">
        <p>まだ投稿がありません</p>
      </div> 
    <% end %>
  </div>
</div>
<%= paginate @posts %>
 
