
<div class="categories">
  <div class="categories-bottun">
    <p>
      <%= icon('fas', 'bars')%>
      カテゴリ一覧
    </p>
  </div>
  <% categories.each do |category| %>   
    <%= link_to category_posts_path(category) do %>
      <div class="category">
        <%= category.name %>
      </div>
    <% end %>  
  <% end %>  
</div>

<div class="menu" >
  <div class="menu__top" >
    <%= link_to "",class:"menu__top__button" do %>
      <%= icon('fas', 'arrow-circle-up')%>
    <% end %>  
  </div>
  <div class="menu__mid" >
    <button type="button" onclick="history.back()"><%= icon('fas', 'arrow-circle-left')%></button>
    <%= link_to categories_path do %>
      <%= icon('fas', 'home')%>
    <% end %>  
    <button type="button" onclick="history.forward()"><%= icon('fas', 'arrow-circle-right')%></button>
  </div>
  <div class="menu__bottom" >
    <%= link_to  "",class:"menu__bottom__button" do %>
      <%= icon('fas', 'arrow-circle-down')%>
    <% end %>  
  </div>
</div>