<div class="post__left">
  <div class="post__left__avater">  
    <% if post.user.image.present? %>
      <%= image_tag "#{post.user.image}",class:"post__left__avater__image" %>
    <% else %>
      <p>NoImage</p>
    <% end %>   
  </div>
</div>

<div class="post__right">
  <div class="post__right__title">     
    <p><%= post.title %></p>
  </div>

  <div class="post__right__info">     
    <div class="post__right__info__time"> 
      <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
    <div class="post__right__info__name"> 
      <% if request.path_info == "/posts/#{post.id}" %>    
        <%= link_to user_path(post.user) do %>   
          投稿者：<%= post.user.name %>さん
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.id == post.user_id %>  
            <%= link_to edit_post_path(post) do %>    
              　<%= fa_icon("edit") %>
            <% end %>
            <%= link_to post_path(post),method: :delete do %>   
              　<%= fa_icon("trash") %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        投稿者：<%= post.user.name %>さん
      <% end %>
    </div>
    <% if post.status == "open" %>
      <div class="post__right__info__status post--open"> 
    <% else %>
      <div class="post__right__info__status post--closed"> 
    <% end %>
      <%= post.status %>
    </div>
  </div>

</div>