<div class="post__left">
  <div class="post__left__avater">  
    <% if post.user.image.present? %>
      <%= image_tag "#{post.user.image}",class:"post__left__avater__image" %>
    <% else %>
      <p>NoImage</p>
    <% end %>   
  </div>
</div>

<div class="post__right">
  <div class="post__right__title">     
    <p><%= post.title %></p>
  </div>

  <div class="post__right__info">     
    <div class="post__right__info__time"> 
      <%= post.created_at.strftime("%Y/%m/%d %H:%M") %>
    </div>
    <div class="post__right__info__name"> 
      <% if request.path_info == "/posts/#{post.id}" %>    
        <%= link_to user_path(post.user) do %>   
          <%= icon('fas', 'user-astronaut')%> <%= post.user.name %>さん
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.id == post.user_id %>  
            <%= link_to edit_post_path(post) do %> 
              <%= icon('fas', 'edit')%>   
            <% end %>
            <%= link_to post_path(post),method: :delete do %>
              <%= icon('fas', 'trash')%>    
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <%= icon('fas', 'user-astronaut')%><%= post.user.name %>さん
      <% end %>
    </div>
    <% if post.status.name == "open" %>
      <div class="post__right__info__status post--open"> 
    <% else %>
     <div class="post__right__info__status post--closed">
    <% end %>
      <%= post.status.name %>
    </div> 

    <% if user_signed_in? %>
      <div class="post__right__info__favo" id="favorites"> 
      <% if request.path_info == "/posts/#{post.id}" %> 
        <% if @favorite.present?   %>
          <%= link_to post_favorite_path(post),class:"favo-on" do %>
            <%= icon('fas', 'star')%>    
          <% end %>
        <%else%>
          <%= link_to post_favorite_path(post),class:"favo-off" do %>
            <%= icon('fas', 'star')%>    
          <% end %>
        <% end %>
        <p><%= @favorite_all %></p>
      <%else%>
        <% flag =false %>
        <% flag = search_favorite(@favorites,post) %>
        <% if flag == true %>
          <div class="favo-on-show">
            <%= icon('fas', 'star')%><%= count_favorite(@all_favorites,post) %>
          </div> 
        <% else %>
          <div class="favo-off-show">
            <%= icon('fas', 'star')%><%= count_favorite(@all_favorites,post) %>
          </div> 
        <% end %>
      <% end %>
      </div>
    <% end %>

    <% if request.path_info == "/posts/#{post.id}" %>   
      <%= link_to category_posts_path(post.category),class:"post__right__info__category" do %>
        <%= post.category.name %>  
      <% end %>
    <% else %>
      <div class="post__right__info__category"> 
        <%= post.category.name %>
      </div>
    <% end %>
  </div>
</div>