 <% if user_signed_in? %>
  <div class="user user-toggle">
    <div class="user__avater">
      <% if current_user.image.present? %>
          <%= image_tag "#{current_user.image}",class:"user__avater__image" %>
      <% else %>
          <p>NoImage</p>
      <% end %>
    </div>
    
    <div class="user__name">
      <%= icon('fas', 'user-astronaut')%>
      <%= current_user.name%>
      <%= link_to  edit_user_registration_path(current_user) do%>
          <%= icon('fas', 'cog')%>
      <% end %>
    </div> 

    <%= link_to  user_path(current_user) do%>
      <div class="user__info">
        <%= icon('fas', 'pencil-alt')%>
        <%= "#{current_user.posts.count}件"%>
      </div> 
    <% end %>
    <div class="user__log">
        <%= link_to "投稿", new_post_path, class:"user__log__bottun" %>
        <%= link_to "ログアウト", destroy_user_session_path, class:"user__log__bottun",method: :DELETE %>
    </div> 
  </div> 
<% else %>
  <div class="user user-toggle">
    <div class="user__avater">
      <p>未登録</p>
    </div> 
    <div class="user__name">
      <p>未登録</p>
    </div> 
    <div class="user__info">
      <p>ログインしてください</p>
    </div> 
    <div class="user__log">
      <%= link_to "新規登録", new_user_registration_path, class:"user__log__bottun",method: :GET %>
      <%= link_to "ログイン", user_session_path, class:"user__log__bottun",method: :POST %>
    </div> 
  </div> 
<% end %>

<div class="user-list">
  <%= link_to users_path,method: :GET  do %>
    <p><%= icon('fas', 'user-astronaut')%>ユーザー一覧</p>
  <% end %>
</div> 


<div class="user-ranking-button">
<%= icon('fas', 'crown')%>
</div>


<div class="ranking-stage scale-transition scale-out">
  <div class="ranking-cube"> 
    <div class="front cube-element" >
      <div class="user-ranking">
        <div class="user-ranking__title">
          <p><%= icon('fas', 'pencil-alt')%>ユーザー投稿数ランキング</p>
        </div> 
        <% i = 0 %>
        <div class="user-ranking__boxes">
          <% @ranking.each do |user| %>
            <%= link_to user_path(user),method: :GET  do %>
              <div class="user-ranking__box">
                <p>
                  <%= "#{i+1}位：#{user.name}さん" %>
                </p>
                <div class="user-ranking__box__num">
                  <p>
                    <%= icon('fas', 'pencil-alt')%>
                    <%="#{@counts[i]}件" %>
                  </p>
                </div> 
              </div> 
            <% end %>
            <% i += 1 %>

          <% end %>
        </div> 

      </div> 
    </div>
    <div class="back cube-element" >
      <div class="user-ranking">
        <div class="user-ranking__title">
          <p><%= icon('fas', 'bars')%>カテゴリ別投稿数ランキング</p>
        </div> 
        <% i = 0 %>
        <div class="user-ranking__boxes">
          <% @cate_ranking.each do |category| %>
            <%= link_to category_posts_path(category),method: :GET  do %>
              <div class="user-ranking__box">
                <p>
                  <%= "#{i+1}位：#{category.name}" %>
                </p>
                <div class="user-ranking__box__num">
                  <p>
                    <%= icon('fas', 'pencil-alt')%>
                    <%="#{@cate_counts[i]}件" %>
                  </p>
                </div> 
              </div> 
            <% end %>
            <% i += 1 %>

          <% end %>
        </div> 

      </div> 
    </div>
    <div class="left cube-element" >
      <div class="user-ranking">
        <div class="user-ranking__title">
          <p><%= icon('fas', 'star')%>お気に入り数ランキング</p>
        </div> 
        <% i = 0 %>
        <div class="user-ranking__boxes">
          <% @favo_ranking.each do |favo_post| %>
            <%= link_to post_path(favo_post),method: :GET  do %>
              <div class="user-ranking__box">
                <div class="user-ranking__box__title truncate">
                  <p>
                    <%= "#{i+1}位：#{favo_post.title}" %>
                  </p>
                </div> 
                <div class="user-ranking__box__num">
                  <p>                    
                    <p><%= icon('fas', 'star')%><%="#{@favo_counts[i]}件" %>
                  </p>
                </div> 
              </div> 
            <% end %>
            <% i += 1 %>

          <% end %>
        </div> 

      </div> 
    </div>
    <div class="right cube-element" >
      <div class="user-ranking">
        <div class="user-ranking__title">
          <p><%= icon('fas', 'star')%>工事中</p>
        </div> 
        <div class="user-ranking__boxes">
        </div> 

      </div> 
    </div>
    <div class="top cube-element" >
    </div>
    <div class="bottom cube-element" >
    </div>
  </div>
</div>