 <% if user_signed_in? %>
  <div class="user">
    <div class="user__avater">
      <% if current_user.image.present? %>
          <%= image_tag "#{current_user.image}",class:"user__avater__image" %>
      <% else %>
          <p>NoImage</p>
      <% end %>
    </div>
    
    <div class="user__name">
      <%= icon('fas', 'user-astronaut')%>
      <%= current_user.name%>
    </div> 

    <%= link_to  user_path(current_user) do%>
      <div class="user__info">
        <%= icon('fas', 'pencil-alt')%>
        <%= "#{current_user.posts.count}件"%>
      </div> 
    <% end %>
    <div class="user__log">
        <%= link_to "投稿", new_post_path, class:"user__log__bottun" %>
        <%= link_to "ログアウト", destroy_user_session_path, class:"user__log__bottun",method: :DELETE %>
    </div> 
  </div> 
<% else %>
  <div class="user">
    <div class="user__avater">
      <p>未登録</p>
    </div> 
    <div class="user__name">
      <p>未登録</p>
    </div> 
    <div class="user__info">
      <p>ログインしてください</p>
    </div> 
    <div class="user__log">
      <%= link_to "新規登録", new_user_registration_path, class:"user__log__bottun",method: :GET %>
      <%= link_to "ログイン", user_session_path, class:"user__log__bottun",method: :POST %>
    </div> 
  </div> 
<% end %>

<div class="user-list">
  <%= link_to users_path,method: :GET  do %>
    <p><%= icon('fas', 'user-astronaut')%>ユーザー一覧</p>
  <% end %>
</div> 

<div class="user-ranking">
  <div class="user-ranking__title">
    <p>ユーザー投稿数ランキング<%= icon('fas', 'pencil-alt')%></p>
  </div> 
  <% i = 0 %>
  <% @ranking.each do |user| %>
    <%= link_to user_path(user),method: :GET  do %>
      <div class="user-ranking__box">
        <%= "#{i+1}位：#{user.name}さん  #{@counts[i]}件" %>
      </div> 
    <% end %>
    <% i += 1 %>

  <% end %>

</div> 