 <% if user_signed_in? %>
  <div class="user">
    <% if current_user.image != nil %>
      <div class="user__avater">
        <%= image_tag "#{current_user.image}",class:"user__avater__image" %>
      </div> 
    <% else %>
      <div class="user__avater">
        <p>未登録</p>
      </div> 
    <% end %>
    <div class="user__name">
      <%= fa_icon("user") %>
      <%= current_user.name%>
    </div> 
    <div class="user__info">
      <%= "投稿件数：#{current_user.posts.count}件"%>
    </div> 
    <div class="user__log">
        <%= link_to "投稿", new_post_path, class:"user__log__bottun" %>
        <%= link_to "ログアウト", destroy_user_session_path, class:"user__log__bottun",method: :DELETE %>
    </div> 
  </div> 
<% else %>
  <div class="user">
    <div class="user__avater">
      <p>未登録</p>
    </div> 
    <div class="user__name">
      <p>未登録</p>
    </div> 
    <div class="user__info">
      <p>ログインしてください</p>
    </div> 
    <div class="user__log">
      <%= link_to "新規登録", new_user_registration_path, class:"user__log__bottun",method: :GET %>
      <%= link_to "ログイン", user_session_path, class:"user__log__bottun",method: :POST %>
    </div> 
  </div> 
<% end %>
