<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "/theme",locals:{ cube_elements: @cube_elements, random_categories: @random_categories } %>

    <div class="contents clearfix">

      <div class="contents__left">
        <%= render partial: "/categories",locals:{ categories: @categories } %>
      </div>

      <div class="contents__center">
        <%= yield %>
      </div>

      <div class="contents__right">
        <%= render partial: "/user" %>
      <div class="news">
      </div>
    </div>
  </div>
    <footer>
      <p>フッター</p>
    </footer>
  </body>
</html>
